body{
    margin: 0px;
    padding: 0px;
}

#area{
    
    text-align: center;
    margin-top: 16%;
}

input{
    width: 30%;
    height: 40px;
}

#buttons{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button{
    width: 100px;
    height: 30px;
    border: 0px;
}

#play{
    background-color: greenyellow;
}

#pause{
    background-color: red;
}